<content>
    <div class="about-container">
        <h1 class="about-header">Welcome!</h1>
        <h2 class="about-subheader">to my about page</h2>
        <p class="about-text">
            I'm Laura Subak, a software developer and graphic designer located in Ohio.
            I have a Bachelor's degree in Computer Science as well as a Certificate of Proficiency in Graphic Design and Communications - currently working towards the Associate's degree.
            Bringing together my logical and creative sides, I'm adaptable, a team-player, and always looking for ways to improve.
        </p>
        <p class="about-text">Check out my Github to look at the source code for this site, and head over to the Portfolio page to check out my design/illustration portfolio.</p>
        <p class="about-text">
            In my free time, I enjoy:
        </p>
        <ul class="about-list">
            <li>Playing video games - The Outer Wilds is my latest favorite</li>
            <li>Swing dancing - well...when we aren't in a pandemic</li>
            <li>Drawing</li>
            <li>Singing badly</li>
            <li>Watching TV - I'm currently making my way through Star Trek</li>
        </ul>
    </div>
</content>
